/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap"
@import './assets/styles/_variables'
@import './assets/styles/_button'

    
*
    margin:0
    padding:0
    box-sizing: border-box
    list-style: none
    text-transform: none
    // overflow: hidden


html 
    font-size: 62.5%
    font-family: 'Lora', serif


// h1, h2, h3, h4, h5, h6 
//  font-family: 'Montserrat', sans-serif!important
//  font-weight: 300
//  text-transform: uppercase

    