<div class="container" style="overflow: hidden">
  <div class="home">

    <div class="home__header">

      <!-- <header>

        <ul class=" nav nav__links">
          <li class="nav__item">
            <form class="search-container">
              <input type="text" id="searchInput" placeholder="Search movies/Shows etc..!">
              <span class="search-btn"><a routerLink="search" (click)="FetchMovies()"><i
                    class="fab fa-searchengin"></i></a></span>
            </form>
          </li>
          <li class="nav__item">
            Movies
          </li>
          <li class="nav__item">
            TV/Shows
          </li>
          <li class="nav__item">
            Wishlist
          </li>
          <li class="nav__item">
            Profile
          </li>
        </ul>
      </header> -->
      <div class="wrapper">



        <!-- <ngb-carousel *ngIf="!images">
          <ng-template ngbSlide>
            <div class="carousel__container">
              <img src="https://image.tmdb.org/t/p/w1280//3dPhs7hUnQLphDFzdkD407VZDYo.jpg" alt="Random first slide">
            </div>
            <div class="carousel-caption">
              <h3>First slide label</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="https://image.tmdb.org/t/p/w1280//4ZSlTfkHtgTTupCaLbseXQQzZha.jpg" alt="Random second slide">
            </div>
            <div class="carousel-caption">
              <h3>Second slide label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="https://image.tmdb.org/t/p/w1280//cfT29Im5VDvjE0RpyKOSdCKZal7.jpg" alt="Random third slide">
            </div>
            <div class="carousel-caption">
              <h3>Third slide label</h3>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </ng-template>
        </ngb-carousel> -->






        <!-- <div id="arrow-left" class="arrow"></div> -->
        <ngb-carousel [pauseOnHover]="false">
          <!-- <div class="slider"> -->
          <ng-template ngbSlide>
            <!-- <div class="slide-img">
              <img src="https://image.tmdb.org/t/p/w1280//3dPhs7hUnQLphDFzdkD407VZDYo.jpg" alt="" class="bg-blur"> -->
            <div class=" home__background">
              <img src="https://image.tmdb.org/t/p/original/iQh64TQiPoTK3yZ3duC3y0tKgy3.jpg" alt="image"
                class="home__background--img">
              <div class="home__info">
                <a routerLink="/movie/1771" (click)="showMovieDetail(1771)"><h1 class="home__info--title">Captain America: The First Avenger</h1></a>
                <h2 class="home_info--subtitle">When patriots become heroes</h2>
                <h3 class="home__info--genre"> <span class="genre">Adventure</span>  <span class="genre">SCI-FI</span> <span class="genre">Action</span>  </h3>
                <button class="btn btn-warning home__info--watch"> Watch Trailer <i class="fas fa-play-circle"></i>
                </button>
                <!-- <button></button> -->
              </div>
            </div>
            <!-- </div> -->
          </ng-template>
          <ng-template ngbSlide>
            <!-- <div class="slide-img">
          <img src="https://image.tmdb.org/t/p/w1280//4ZSlTfkHtgTTupCaLbseXQQzZha.jpg" alt="" class="bg-blur"> -->
            <div class=" home__background">
              <img src="https://image.tmdb.org/t/p/original/hkotG0lTzS5O0wfihbukOb2e7dS.jpg" alt="image"
                class="home__background--img">
              <div class="home__info">
                <a routerLink="/movie/475557" (click)="showMovieDetail(475557)"><h1 class="home__info--title">Joker</h1></a>
                <h2 class="home_info--subtitle"> Put on a happy face.</h2>
                <h3 class="home__info--genre"> <span class="genre">Crime</span>  <span class="genre">Thriller</span> <span class="genre">Drama</span>  </h3>
                <button class="btn btn-warning home__info--watch"> Watch Trailer <i class="fas fa-play-circle"></i>
                </button>
              </div>
            </div>
            <!-- </div> -->
          </ng-template>
          <ng-template ngbSlide>
            <!-- <div class="slide-img">
          <img src= "https://image.tmdb.org/t/p/w1280//cfT29Im5VDvjE0RpyKOSdCKZal7.jpg" alt="" class="bg-blur"> -->
            <div class=" home__background">
              <img src="https://image.tmdb.org/t/p/original/bnWi7vlYraS27yry7I6bgcHKmrs.jpg" alt="image"
                class="home__background--img">
              <div class="home__info">
                <a routerLink="/movie/1124" (click)="showMovieDetail(1124)"><h1 class="home__info--title" >The Prestige</h1></a>
                <h2 class="home_info--subtitle">Are You Watching Closely?</h2>
                <h3 class="home__info--genre"> <span class="genre">Drama</span>  <span class="genre">Mystery</span> <span class="genre">Thriller</span>  </h3>
                <button class="btn btn-warning home__info--watch"> Watch Trailer <i class="fas fa-play-circle"></i>
                </button>
              </div>
            </div>
            <!-- </div> -->
          </ng-template>
          <!-- </div> -->

        </ngb-carousel>
        <!-- <div id="arrow-right" class="arrow"></div> -->

      </div>

    </div>
  </div>
  </div>