@import '../../styles'
    
.container
    display: flex
    flex-direction: column
    width: 85%
    padding-right: 15px
    padding-left: 15px
    margin-right: auto
    margin-left: auto
    @media (min-width: 120rem) 
        max-width: 114rem

    .movie 
        margin-top: 10rem
        position: relative
        display: grid
        grid-template: "image info" "image stat"
        justify-content: start
        grid-template-columns: 300px 1fr 
        background-color: rgba(0,0,0,.5)
        color: #dee2e6
        &__img
            width: 300px
            grid-area: image
            -webkit-animation: animateScale 1s ease
            animation: animateScale 1s ease
        &__info 
            grid-area: info
            display: flex
            padding: 1.6rem
            align-items: flex-start
            justify-content: space-between
            flex-direction: column
            &--title
                color: #ffc107
                font-size: 3rem
                margin: 0 3rem .8rem 0
                font-weight: 500
                line-height: 1.2
            &--tagline
                -webkit-animation: animateOpacity 2s ease
                animation: animateOpacity 2s ease
                margin-bottom: 15px
                font-size: 2em
                margin-bottom: 1.5rem
                font-weight: 500
                line-height: 1.2
                color: #fff
        &__control
            margin-bottom: 2rem
            &--rating
                position: absolute
                top: .7rem
                right: .7rem
                margin: .4rem
                background-color: transparent
                padding: 1.23rem
                text-align: center
                display: inline-block
                z-index: 100
                width: 55px
                height: 55px
                font-size: 2rem
                border-radius: 50%
                border: 2px solid #28a745
        &__overview 
            font-size: 2rem
            font-weight: 400
            margin-bottom: 20px
        &__genre
            margin-right: .8rem
            font-size: 1.6rem
            


        &__stat
            display: flex
            align-self: end
            grid-area: stat
            align-items: center
            justify-content: space-between
            width: 100%
            padding: 15px  
            font-size: 1.8rem
            color: #adb5bd
            background-color: rgba(0,0,0,.8)
        &__icon
            font-size: 2rem
            display: inline-block
            margin-right: 1rem
    
.badge    
    margin-right: 10px
    font-size: 1.6rem
    font-weight: 100

        
